<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
  <ion-card-title mode="ios">Lista de telefones</ion-card-title>

  <ion-item *ngFor="let n of numbers">
    <ion-label>
      {{n.nome}}
    </ion-label>
    {{n.number}}
    <ion-icon name="phone-portrait-sharp" slot="end"></ion-icon>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNumber('Araujo Rosa','821270963')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>